div.container-all{
  display: flex;
  flex-wrap: wrap;
}
div.containerImg{
  width: 30%;
  height: 35vw;
  position: relative;
}

div.imagenSerie{
height: 84%;
left: 14%;
top: 10%;
position: absolute;
}

div.imagenSerie img{
  height: 100%;
}

div.containerInfo{
  width: 65%
}

div.infoSerie{
  width: 100%;
}
div.containerRecomendados{
  width: 70%;
  margin-left: 15%;
}

div.containerTrailer{
  margin-top: 3vw;
  width: 100%;
  margin-bottom: 3vw;
}

div.trailerSerie{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgreco {

  border-radius: 65px 65px 65px 65px;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 80%;
}
