div.container-all{
  display: flex;
  flex-wrap: wrap;
}
div.containerImg{
  width: 30%;
  height: 35vw;
  position: relative;
}

div.imagenSerie{
height: 84%;
left: 14%;
top: 10%;
position: absolute;
}

div.imagenSerie img{
  height: 100%;
}

div.containerInfo{
  width: 65%
}

div.infoSerie{
  width: 100%;
}
div.containerRecomendados{
  width: 70%;
  margin-left: 15%;
  display: none;
}
div.show {
  width: 70%;
  margin-left: 15%;
  display: block;
}

div.containerTrailer{
  margin-top: 3vw;
  width: 100%;
  margin-bottom: 3vw;
}

div.trailerSerie{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgreco {

  border-radius: 65px 65px 65px 65px;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 80%;
}
}
.botonDeFav{
  width: 20vw;
  margin-left: 40vw;
}
.botonDeFav button{
  width: 20vw;
}
div.infoSerie h3 a {
  color: white;
}
div.infoSerie h3, div.infoSerie h1{
  color: darkgray;
}

#botonRecomendaciones{
  width: 26VW;
  margin-left: 37vw;
}

/* Media Para Celular */
@media only screen and (max-width: 450px) {
main{
  width: 100%;
}

div.containerImg{
  width: 100vw;
  height: 77vw;
}
div.containerInfo{
  width: 90%;
  margin-left: 5%;
}

div.imagenSerie{
  height: auto;
  width: 50vw;
  top: auto;
  left: 25%;
}
div.imagenSerie img{
  height: auto;
}
iframe{

  width: 280px;
  height: 157.5px;
}
#buttonFav{
  margin-bottom: 3vw;
}

#botonRecomendaciones{
margin-left: 11vw;
width: 78vw;
}

#buttonFav , #buttonVer{
  width: 78vw;
  margin-left: 6vw;

}


}
