/*aca empiexa los generales*/
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: white;
  margin: 0;
}

/*aca terminan los genreales*/
.paddingParaBarra {
  padding-top: 5vw;
}

/*Aca empieza el Header*/
header {
  background-image: linear-gradient(rgb(143, 28, 28), rgba(143, 28, 28, 0.66), rgba(143, 28, 28, 0.33), rgba(143, 28, 28, 0));
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 4vw;
  z-index: 30
}

div.Menu {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
}

ul.botones-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  position: relative;
}

ul.botones-menu li {
  width: 20%;
  height: 60%;
  top: 20%;
  bottom: 20%;
  position: absolute;
}

ul.botones-menu li a {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.7vw;
}

div.img-logo {
  width: 10%;
  height: 100%;
  justify-content: space-around;
}

img.logo {
  height: 100%;
}

div.buscador {
  width: 30%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

form.barra-buscadora {
  width: 50%;
  height: 40 %;
  position: absolute;
  left: 35%;
  right: 15%;
  top: 30%;
  bottom: 30%;
}

form.barra-buscadora input {
  width: 100%;
  position: absolute;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

.buscador a {
  position: absolute;
  margin: 0;
}

.inicioHeader {
  left: 2%;
}

.generosHeader {
  left: 21%;
}

.randomHeader {
  left: 43%;
}

.favoritosHeader {
  left: 64%;
}

.verMasTardeNot {
  display: none;
}

/* modal BUSQUEDA*/
#avanzada {
  color: white;
  width: 18%;
  height: 60%;
  top: 1.5vw;
  bottom: 20%;
  position: absolute;
  font-size: 1.7vw;
  left: 59vw;
}

#buscadorAvanzado {
  background-color: #222;
  border-radius: 20px;
}

#buscadorAvanzado form {
  display: flex;
  flex-direction: column;
}

#buscadorAvanzado h2 {
  color: white;
  text-align: center;
}


@media only screen and (max-width: 450px){

header{
  display: block;
  height: 26vw;
}
div.Menu{
  display: block;
  width: 100%;
  height: 60%;
}
div.img-logo{
  width: auto;
  height: 60%;
  margin-left: 44vw;
}
ul.botones-menu{
  height: 40%;
}
div.buscador{
  width: 30%;
  margin-left: 35%;
  height: 50%;
}
ul.botones-menu li a {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 3vw;
}
form.barra-buscadora {
    width: 100%;
    position: absolute;
    left: 0;
    right: 15%;
    top: 30%;
    bottom: 30%;
}
#avanzada {
      color: white;
      width: 20%;
      height: 60%;
      top: 39%;
      bottom: 20%;
      position: absolute;
      font-size: 3vw;
      left: 77vw;
}

form.barra-buscadora input {
    width: 100%;
    position: absolute;
    height: 80%;
    padding: 0;
    border: 0;
    margin: 0;
}
.paddingParaBarra {
    padding-top: 30vw;
}

}




.uk-modal-title , .uk-modal-subtitle, form.avanzado h4{
  color: white;
}
/*Aca termina el Header*/




/*Aca empieza el Main general*/
main {
  background-color: black;
}

/*Aca termina el Main genera*/
footer {
  width: 100%;
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
}

.legal {
  width: 75vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.legal p {
  width: 75%;
  margin-bottom: 0;
  margin-top: 0%;
  height: 100%
}

.legal a {
  width: 12%;
  flex-wrap: nowrap;
}

.legal a img {
  width: 10vh;
  margin-left: 10%;
  margin-top: 20%;
}

.nombres {
  width: 15vw;
}

.nombres p {
  margin-top: 10%
}
