/* main{
  /* width: 100%; */



div.Populares{

  background-color: black);
  margin: 0;
  font-family: serif;
  text-decoration: underline;
  font-variant: small-caps;
  text-align: center;
  /* width: 90% ;
  margin-left: 5%; */
}


div.alAire {
  background-color: black);
  margin: 0;
  font-family: serif;
  text-decoration: underline;
  font-variant: small-caps;
  text-align: center;
  /* width: 90%;
  margin-left: 5%; */
}

div.mejor {
  background-color: black);
  margin: 0;
  font-family: serif;
  text-decoration: underline;
  font-variant: small-caps;
  text-align: center;
  /* width: 90%;
  margin-left: 5%; */
}

div.verMasTarde {
  background-color: black);
  margin: 0;
  font-family: serif;
  text-decoration: underline;
  font-variant: small-caps;
  text-align: center;
  /* width: 90%;
  margin-left: 5%; */
} */
