main{
  width: 100%;
}


div.Populares{

  background-color: rgba(238, 79, 79, 0.63);
  margin: 0;
}
li.uk-active {
width: 24%;
}

li.uk-active a{
  width: 100%;
}

li.uk-active a img{
  width: 100%;
}
